<nav class="fixed bottom-0 left-0 right-0 z-50 bg-white border-t border-slate-200">
  <div class="mx-auto max-w-screen-xl">
    <div class="flex items-center justify-around h-16">
      <!-- ホーム -->
      <%= link_to root_path,
          class: "flex flex-col items-center justify-center flex-1 h-full text-slate-600 hover:text-orange-500 transition-colors #{current_page?(root_path) ? 'text-orange-500' : ''}" do %>
        <%= image_tag "home_icon.svg", class: "w-6 h-6", alt: "ホーム" %>
        <span class="text-xs mt-1">ホーム</span>
      <% end %>

      <!-- ポスト -->
      <%= link_to (user_signed_in? ? select_shops_path : new_user_session_path),
          class: "flex flex-col items-center justify-center flex-1 h-full text-slate-600 hover:text-orange-500 transition-colors #{current_page?(select_shops_path) ? 'text-orange-500' : ''}" do %>
        <%= image_tag "post_icon.svg", class: "w-6 h-6", alt: "ポスト" %>
        <span class="text-xs mt-1">ポスト</span>
      <% end %>

      <!-- マップ -->
      <%= link_to "#",
          class: "flex flex-col items-center justify-center flex-1 h-full text-slate-600 hover:text-orange-500 transition-colors" do %>
        <%= image_tag "map_icon.svg", class: "w-6 h-6", alt: "マップ" %>
        <span class="text-xs mt-1">マップ</span>
      <% end %>

      <!-- アカウント -->
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path,
            class: "flex flex-col items-center justify-center flex-1 h-full text-slate-600 hover:text-orange-500 transition-colors #{current_page?(edit_user_registration_path) ? 'text-orange-500' : ''}" do %>
          <%= image_tag "account.svg", class: "w-6 h-6", alt: "アカウント" %>
          <span class="text-xs mt-1">アカウント</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path,
            class: "flex flex-col items-center justify-center flex-1 h-full text-slate-600 hover:text-orange-500 transition-colors #{current_page?(new_user_session_path) ? 'text-orange-500' : ''}" do %>
          <%= image_tag "account.svg", class: "w-6 h-6", alt: "アカウント" %>
          <span class="text-xs mt-1">アカウント</span>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
